<div id="<%= dom_id journalist %>">
  <p>
    <strong>Name:</strong>
    <%= journalist.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= journalist.bio %>
  </p>

  <p>
    <strong>Is editor:</strong>
    <%= journalist.is_editor %>
  </p>

  <p>
    <strong>User:</strong>
    <%= journalist.user_id %>
  </p>

</div>
