<%= form_with(model: theme) do |form| %>
  <% if theme.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(theme.errors.count, "error") %> prohibited this theme from being saved:</h2>

      <ul>
        <% theme.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :backgroundcolor, style: "display: block" %>
    <%= form.color_field :backgroundcolor %>
  </div>

  <div class="field">
    <%= form.label :headingcolor, style: "display: block" %>
    <%= form.color_field :headingcolor %>
  </div>

  <div class="field">
    <%= form.label :textcolor, style: "display: block" %>
    <%= form.color_field :textcolor %>
  </div>

  <div class="field">
    <%= form.label :primarycolor, style: "display: block" %>
    <%= form.color_field :primarycolor %>
  </div>

  <div class="field">
    <%= form.label :secondarycolor, style: "display: block" %>
    <%= form.color_field :secondarycolor %>
  </div>

  <div class="field">
    <%= form.label :tertiarycolor, style: "display: block" %>
    <%= form.color_field :tertiarycolor %>
  </div>

  <div class="field">
    <%= form.label :quaternarycolor, style: "display: block" %>
    <%= form.color_field :quaternarycolor %>
  </div>

  <div class="field">
    <%= form.label :logo, style: "display: block" %>
    <%= form.file_field :logo %>
  </div>

  <div class="field">
    <%= form.label :maxwidth, style: "display: block" %>
    <%= form.text_field :maxwidth %>
  </div>

  <div class="field">
    <%= form.label :customcss, style: "display: block" %>
    <%= form.text_area :customcss %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
