<div id="<%= dom_id theme %>">
  <!-- OLD
  <p>
    <strong>Name:</strong>
    <%= theme.name %>
  </p>

  <p>
    <strong>Backgroundcolor:</strong>
    <%= theme.backgroundcolor %>
  </p>

  <p>
    <strong>Headingcolor:</strong>
    <%= theme.headingcolor %>
  </p>

  <p>
    <strong>Textcolor:</strong>
    <%= theme.textcolor %>
  </p>

  <p>
    <strong>Primarycolor:</strong>
    <%= theme.primarycolor %>
  </p>

  <p>
    <strong>Secondarycolor:</strong>
    <%= theme.secondarycolor %>
  </p>

  <p>
    <strong>Tertiarycolor:</strong>
    <%= theme.tertiarycolor %>
  </p>

  <p>
    <strong>Quaternarycolor:</strong>
    <%= theme.quaternarycolor %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= link_to theme.logo.filename, theme.logo if theme.logo.attached? %>
  </p>

  <p>
    <strong>Maxwidth:</strong>
    <%= theme.maxwidth %>
  </p>

  <p>
    <strong>Custom Head:</strong>
    <%= theme.customhead %>
  </p>

  <p>
    <strong>Customcss:</strong>
    <%= theme.customcss %>
  </p>
-->
<div style="padding: 2em;">
  <%= link_to theme.name, edit_theme_path(theme) %>
  <br/>
  <div style="font-size: 4rem;">
    <span style="color: <%= theme.backgroundcolor %>">■</span><span style="color: <%= theme.headingcolor %>">■</span><span style="color: <%= theme.textcolor %>">■</span><span style="color: <%= theme.primarycolor %>">■</span><span style="color: <%= theme.secondarycolor %>">■</span><span style="color: <%= theme.tertiarycolor %>">■</span><span style="color: <%= theme.quaternarycolor %>">■</span> 
  </div>
  <% if theme.logo.attached? %>
  <img style="max-height: 200px; width: auto;" src="<%= url_for(theme.logo) %>"> 
  <% end %> 
</div>


</div>
