<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug, style: "display: block" %>
    <%= form.text_field :slug %>
  </div>

  <div class="field">
    <%= form.label :content, style: "display: block" %>
    <div style="padding: 2rem;">
    <%= form.text_area :content, id: "story_content", value: story.content %>
    <script>
      $('#story_content').summernote({
        placeholder: 'Write Your Article Here...',
        tabsize: 2,
        height: 720,
        codemirror: { // codemirror options
            theme: 'monokai'
          },
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['codeview', 'help']]
        ]
      });
    </script>
    <style>
      .note-editor.note-airframe .note-editing-area .note-codable, .note-editor.note-frame .note-editing-area .note-codable {
        color: teal;
        background-color: rgba(200, 200, 200, 0.1);
        left: 6rem;
      }
    </style>
    </div>
  </div>

  <div class="field" style="display: flex-grid;">
    <%= form.label :image, style: "display: block" %>
    <div style="flex: 1;">
    <% if story.image.attached? %>
    <br/>
    <label>Current Image: <%= story.image.filename %></label>
    <img class="uploaded" src="<%= url_for(story.image) %>">
    <% end %>
    </div>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <% if story.video.attached? %>
    <br/>
    <label>Current Video: <%= story.video.filename %></label>
    <video class="uploaded" controls>
      <source src="<%= url_for(story.video) %>">
    </video>
    <% end %>
    <%= form.label :video, style: "display: block" %>
    <%= form.file_field :video %>
  </div>

  <div class="field">
    <% if story.audio.attached? %>
    <br/>
    <label>Current Audio: <%= story.audio.filename %></label>
    <audio class="uploaded" controls>
      <source src="<%= url_for(story.audio) %>">
    </audio>
    <% end %>
    <%= form.label :audio, style: "display: block" %>
    <%= form.file_field :audio %>
  </div>

  <div class="field">
    <%= form.label :articleassets, style: "display: block" %>
    <% if story.articleassets.attached? %>
    <br/>
    <label>Current Assets: </label>
    <br>
    <% story.articleassets.each do |articleasset| %>
    <a href="<%= url_for(articleasset) %>"><%= articleasset.filename %></a>
    <br>
    <% end %>
    
    <% end %>
    <%= form.file_field :articleassets, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :factchecked, style: "display: block" %>
    <div class="toggle-switch">
      <%= form.check_box :factchecked, class: 'toggle-checkbox', id: 'factchecked' %>
      <label for="factchecked" class="toggle-label">
    </div>
  </div>

  <div class="field">
    <%= form.label :proofread, style: "display: block" %>
    <div class="toggle-switch">
      <%= form.check_box :proofread, class: 'toggle-checkbox', id: 'proofread' %>
      <label for="proofread" class="toggle-label">
    </div>
  </div>

  <div class="field">
    <%= form.label :enableautopublish, style: "display: block" %>
    <div class="toggle-switch">
      <%= form.check_box :enableautopublish, class: 'toggle-checkbox', id: 'enableautopublish' %>
      <label for="enableautopublish" class="toggle-label">
    </div>
  </div>

  <div class="field">
    <%= form.label :autopublishdate, style: "display: block" %>
    <%= form.datetime_field :autopublishdate %>
  </div>

  <div class="field">
    <%= form.label :publish, style: "display: block" %>
    <div class="toggle-switch">
      <%= form.check_box :publish, class: 'toggle-checkbox', id: 'publish' %>
      <label for="publish" class="toggle-label">
    </div>
  </div>

  <div>
    <label>Published At: <%= story.publishdate.strftime("%A, %B, %d, %Y %H:%M") unless story.publishdate.nil? %></label>
  </div>

  <div class="field">
    <%= form.label :category_id, style: "display: block" %>
    <%= collection_select(:story, :category_id, Category.all, :id, :name, prompt: true ) %>
  </div>

  <div class="field">
    <%= form.label :tags, style: "display: block" %>
    <%= form.text_field :tags %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
