<div class="story" id="<%= dom_id story %>">
  <h3 class="category" style="color: <%= story.category.color %>;"><%= story.category.name.upcase %></h3>
  <h1 class="title"><%= story.title %></h1>

  <h4>By <%= story.user&.journalist&.name %></h4>
  <% if story.publish? %>
  <h5><%= story.publishdate.strftime("%A, %B, %d, %Y %H:%M") %></h5>
  <% else %>
  <h5>First Drafted: <%= story.created_at.strftime("%A, %B, %d, %Y %H:%M") %></h5>
  <% end %>

  <% if story.video.attached? %>
  <video class="covervideo" controls poster="<%= url_for(story.image) if story.image.attached? %>">
    <source src="<%= url_for(story.video) %>">
  </video>
  <% elsif story.image.attached? %>
  <img class="coverimage" src="<%= url_for(story.image) %>">
  <% end %>
  <br/>
  <br/>
  <% if story.audio.attached? %>
  <br/>
  <label>Audio: <%= story.audio.filename %></label>
  <audio class="coveraudio" controls>
    <source src="<%= url_for(story.audio) %>">
  </audio>
  <% end %>
  <br/>
  <br/>
  

  <div class="content"><%= story.content.html_safe %></div>

  <% unless (story.tags.nil? || story.tags == "") %>
  <p>
    <strong>Tags:</strong>
    <%= story.tags %>
  </p>
  <% end %>

</div>