<div class="story" id="<%= dom_id story %>">
  <h3 class="title"><%= story.category.name.upcase %></h3>
  <h1 class="title"><%= story.title %></h1>
  <img class="coverimage" src="<%= url_for(story.image) if story.image.attached? %>">
  <br/>
  <br/>
  <% if story.audio.attached? %>
  <br/>
  <label>Current Audio: <%= story.audio.filename %></label>
  <audio class="coveraudio" controls>
    <source src="<%= url_for(story.audio) %>">
  </audio>
  <% end %>
  <div class="content"><%= story.content.html_safe %></div>

  <p>
    <strong>Tags:</strong>
    <%= story.tags %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= link_to story.image.filename, story.image if story.image.attached? %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= link_to story.video.filename, story.video if story.video.attached? %>
  </p>

  <p>
    <strong>Audio:</strong>
    <%= link_to story.audio.filename, story.audio if story.audio.attached? %>
  </p>

  <p>
    <strong>Articleassets:</strong>
    <% story.articleassets.each do |articleasset| %>
      <div><%= link_to articleasset.filename, articleasset %></div>
    <% end %>
  </p>

  <p>
    <strong>Factchecked:</strong>
    <%= story.factchecked %>
  </p>

  <p>
    <strong>Proofread:</strong>
    <%= story.proofread %>
  </p>

  <p>
    <strong>Enableautopublish:</strong>
    <%= story.enableautopublish %>
  </p>

  <p>
    <strong>Autopublishdate:</strong>
    <%= story.autopublishdate %>
  </p>

  <p>
    <strong>Publish:</strong>
    <%= story.publish %>
  </p>

  <p>
    <strong>Publishdate:</strong>
    <%= story.publishdate %>
  </p>

  <p>
    <strong>User:</strong>
    <%= story.user_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= story.category.name %>
  </p>

</div>
