<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if Setting.last.nil? %>
      The Daily Planet
      <% else %>
      <%= Setting.last.newspapername %>
      <% end %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

    <%= javascript_include_tag 'summernote-lite' %>
    <%= javascript_include_tag 'sorttable' %>

    <%= javascript_importmap_tags %>

  </head>

  <% if !Setting.first.nil? && !Setting.first.theme.nil? %>
  <!-- CUSTOM THEME STYLES -->
  <style>
    
    html {
      background-color: <%= Setting.first.theme.backgroundcolor %>
    }

    p {
      color: <%= Setting.first.theme.textcolor %>;
    }

    .story a {
      color: <%= Setting.first.theme.primarycolor %>;
    }

    h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 *, h6, h6 *, label, nav a, .title, a {
      color: <%= Setting.first.theme.headingcolor %>;
    }

    strong {
      color: <%= Setting.first.theme.secondarycolor %>;
    }

    em {
      color: <%= Setting.first.theme.tertiarycolor %>;
    }

    footer, footer * {
      color: <%= Setting.first.theme.quaternarycolor %>;
    }



  </style>
  <% end %>

  <div id="logo">
    <a href="/">
      <% if !Setting.first.nil? && Setting.first.theme.logo.attached? %>
      <img src="<%= url_for(Setting.first.theme.logo) %>">
      <% else %>
      <%= image_tag("Daily_Planet_logo.png") %>
      <% end %>
    </a>
  </div>

  <nav>
    <% unless Category.nil? %>
      <% Category.all.each do |category| %>
    <a href="/<%= category.name %>" style="border: none; border-bottom: 2px solid; border-color: <%= category.color %>; order: <%= category.order %>;"><%= category.name.upcase %></a>
      <% end %>
    <% end %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="/stories">Latest Stories</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact</a>
    || 
    <% if user_signed_in? %>
      <%= link_to "👤", edit_user_registration_path %>
      <a href="/journalistdashboard"><%= current_user.email %></a>
      <%= link_to "Sign out", destroy_user_session_path, data: { "turbo_method": :delete } %>
    <% else %>
      <a href="/journalistdashboard">Journalist Dashboard</a>
    <% end %>
  </footer>

  <!-- Theme overrides -->
  <% unless Setting.last.nil? %>
  <% end %>
</html>
