<!DOCTYPE html>
<html>
  <head>
    <title>The Daily Planet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <div id="logo">
    <%= image_tag("Daily_Planet_logo.png") %>
  </div>

  <nav>
    <% unless Category.nil? %>
      <% Category.all.each do |category| %>
    <a href="/<%= category.name %>" style="border: none; border-bottom: 2px solid; border-color: <%= category.color %> ;"><%= category.name.upcase %></a>
      <% end %>
    <% end %>
  </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <body>
    <%= yield %>
  </body>

  <footer>
    <a href="/stories">Latest Stories</a>
    <a href="/about">About Us</a>
    <a href="/contact">Contact Us</a>
    || 
    <% if user_signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path %>
      <%= link_to "Sign out", destroy_user_session_path, data: { "turbo_method": :delete } %>
    <% else %>
      <a href="/journalist">Journalist</a>
    <% end %>
  </footer>
</html>
